/* .content {
    height: 550px;
    width: 100%;
    background-image:url(image/back-ground.jpg) ;
    background-size: cover;
}

.content-header{
    margin: 0;
}
.navigation{
	text-decoration: none;
}

.content-body {
  text-align: left;
  height: 450px;
  border: none;
  padding: 150px;
  margin: 5px;
}

.container {
    width: 100%;
    height: 375px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.logo{
	text-align: left;
	text-decoration: none;
	height: 200px;
}
*/

.subfooter{
	background: #2C3E50;
	border-top: 1px solid #394C5F;
	text-align: center;
	padding: 1.5em 0 2em;
	position:relative;
}
.subfooter ul li{
	display:inline-block;
}
.subfooter ul li span{
	color: #FFF;
	margin: 0 0.5em 0;
}
.subfooter ul li a{
	color: #FFF;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	font-size: 1em;
}
.subfooter ul li a:hover{
	color:#1DD2AF;
}

.navbar{
    margin-bottom: 20px;
}