.container-detail li{
    display: inline-block;
}
body{
    width: 100%;
    margin: auto;
}

.content-body {
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
.content-body li{
  display: inline-block;
}
.content-body td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
  }
.silde-image {

  width: 300px;
  text-align: center;
  display: flex;

 
}
.tr:nth-child(even) {
    /* background-color: #dddddd; */
  }

.detai-body li{
    display: inline-block;
}


/*rating star */
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}




.user-email li{
  display: inline-block;

}

.content-comment{
  background-image: url();
}