body{
    width: 100%;
    margin: auto;
}
div ul li{
  display: inline-block;
}
.header-menu ul li{
  display: inline-block;
  font-size: 15px;
  margin: center;
}
.content{
  background-color: white;
  margin-left: 5%;
  margin-top: 10px;
}
label{
  font-family: inherit;
  font-size: 18px;
  line-height: 2;
}
.header-menu{
  width: 70%;
  height: 80px;
  padding: 12px 8px;
  text-align: block;
}
input{
  font-size: 14px;
  width: 40%;
  height: 30px;
  border: 1px solid #dadada;
  outline: none;
}
.dat-phong{
  font-family: inherit;
  width: 200px;
  font-size: 20px;
  line-height: 2;
  font-weight: 500;
  background-color: #f96d01;
  display: block;
  color: white;
  border: none;
}
